CREATE TABLE [dbo].[Characters]
(
	[Character-ID] [int] IDENTITY(1,1) NOT NULL,
	[Account-ID] [int] NOT NULL,
	[Character-Name] [nchar](10) NOT NULL,
	[Character-Profile] [varchar](max) NULL CONSTRAINT [DF_Characters_Character-Profile]  DEFAULT ('_____'),
	[Character-Location] [nchar](10) NULL CONSTRAINT [DF_Characters_Character-Location]  DEFAULT ('NONE'),
	[Character-Guild-Name] [varchar](50) NOT NULL CONSTRAINT [DF_Characters_Character-Guild-Name]  DEFAULT ('NONE'),
	[Character-Guild-GUID] [int] NULL CONSTRAINT [DF_Characters_Character-Guild-GUID]  DEFAULT ((-1)),
	[Character-Guild-Rank] [int] NULL CONSTRAINT [DF_Characters_Character-Guild-Rank]  DEFAULT ((-1)),
	[Character-Loc-Map] [varchar](50) NULL CONSTRAINT [DF_Characters_Character-Loc-Map]  DEFAULT ('default'),
	[Character-Loc-X] [int] NULL CONSTRAINT [DF_Characters_Character-Loc-X]  DEFAULT ((-1)),
	[Character-Loc-Y] [int] NULL CONSTRAINT [DF_Characters_Character-Loc-Y]  DEFAULT ((-1)),
	[Character-HP] [int] NULL CONSTRAINT [DF_Characters_Character-HP]  DEFAULT ((37)),
	[Character-MP] [int] NULL CONSTRAINT [DF_Characters_Character-MP]  DEFAULT ((27)),
	[Character-SP] [int] NULL CONSTRAINT [DF_Characters_Character-SP]  DEFAULT ((22)),
	[Character-Level] [int] NULL CONSTRAINT [DF_Characters_Character-Level]  DEFAULT ((1)),
	[Character-Rating] [int] NULL CONSTRAINT [DF_Characters_Character-Rating]  DEFAULT ((0)),
	[Character-Strength] [int] NULL CONSTRAINT [DF_Characters_Character-Strength]  DEFAULT ((10)),
	[Character-Intelligence] [int] NULL CONSTRAINT [DF_Characters_Character-Intelligence]  DEFAULT ((10)),
	[Character-Vitality] [int] NULL CONSTRAINT [DF_Characters_Character-Vitality]  DEFAULT ((10)),
	[Character-Dexterity] [int] NULL CONSTRAINT [DF_Characters_Character-Dexterity]  DEFAULT ((10)),
	[Character-Magic] [int] NULL CONSTRAINT [DF_Characters_Character-Magic]  DEFAULT ((10)),
	[Character-Charisma] [int] NULL CONSTRAINT [DF_Characters_Character-Charisma]  DEFAULT ((10)),
	[Character-Luck] [int] NULL CONSTRAINT [DF_Characters_Character-Luck]  DEFAULT ((0)),
	[Character-Experience] [int] NULL CONSTRAINT [DF_Characters_Character-Experience]  DEFAULT ((0)),
	[Character-LU-Pool] [int] NULL CONSTRAINT [DF_Characters_Character-LU-Pool]  DEFAULT ((0)),
	[Character-Ek-Count] [int] NULL CONSTRAINT [DF_Characters_Character-Ek-Count]  DEFAULT ((0)),
	[Character-Pk-Count] [int] NULL CONSTRAINT [DF_Characters_Character-Pk-Count]  DEFAULT ((0)),
	[Character-Reward-Gold] [int] NULL CONSTRAINT [DF_Characters_Character-Reward-Gold]  DEFAULT ((0)),
	[Character-Down-Skill-Index] [int] NULL CONSTRAINT [DF_Characters_Character-Down-Skill-Index]  DEFAULT ((-1)),
	[Character-ID1] [int] NOT NULL CONSTRAINT [DF_Characters_Character-ID1]  DEFAULT ((0)),
	[Character-ID2] [int] NOT NULL CONSTRAINT [DF_Characters_Character-ID2]  DEFAULT ((0)),
	[Character-ID3] [int] NOT NULL CONSTRAINT [DF_Characters_Character-ID3]  DEFAULT ((0)),
	[Character-Sex] [int] NULL CONSTRAINT [DF_Characters_Character-Sex]  DEFAULT ((1)),
	[Character-Skin] [int] NULL CONSTRAINT [DF_Characters_Character-Skin]  DEFAULT ((1)),
	[Character-Hair-Style] [int] NULL CONSTRAINT [DF_Characters_Character-Hair-Style]  DEFAULT ((1)),
	[Character-Hair-Colour] [int] NULL CONSTRAINT [DF_Characters_Character-Hair-Colour]  DEFAULT ((1)),
	[Character-Underwear] [int] NULL CONSTRAINT [DF_Characters_Character-Underwear]  DEFAULT ((1)),
	[Character-Hunger] [int] NULL CONSTRAINT [DF_Characters_Character-Hunger]  DEFAULT ((100)),
	[Character-Shutup-Time] [int] NULL CONSTRAINT [DF_Characters_Character-Shutup-Time]  DEFAULT ((0)),
	[Character-Rating-Time] [int] NULL CONSTRAINT [DF_Characters_Character-Rating-Time]  DEFAULT ((1200)),
	[Character-Force-Time] [int] NULL CONSTRAINT [DF_Characters_Character-Force-Time]  DEFAULT ((0)),
	[Character-SP-Time] [int] NULL CONSTRAINT [DF_Characters_Character-SP-Time]  DEFAULT ((0)),
	[Character-Admin-Level] [int] NULL CONSTRAINT [DF_Characters_Character-Admin-Level]  DEFAULT ((0)),
	[Character-Block-Date] [nchar](10) NULL CONSTRAINT [DF_Characters_Character-Block-Date]  DEFAULT ('0 0 0'),
	[Character-Quest-Number] [int] NULL CONSTRAINT [DF_Characters_Character-Quest-Number]  DEFAULT ((0)),
	[Character-Quest-ID] [int] NULL CONSTRAINT [DF_Characters_Character-Quest-ID]  DEFAULT ((0)),
	[Character-Quest-Reward] [int] NULL CONSTRAINT [DF_Characters_Character-Quest-Reward]  DEFAULT ((0)),
	[Character-Quest-Amount] [int] NULL CONSTRAINT [DF_Characters_Character-Quest-Amount]  DEFAULT ((0)),
	[Character-Contribution] [int] NULL CONSTRAINT [DF_Characters_Character-Contribution]  DEFAULT ((0)),
	[Character-War-Contribution] [int] NULL CONSTRAINT [DF_Characters_Character-War-Contribution]  DEFAULT ((0)),
	[Character-Event-ID] [int] NULL CONSTRAINT [DF_Characters_Character-Event-ID]  DEFAULT ((0)),
	[Character-Criticals] [int] NULL CONSTRAINT [DF_Characters_Character-Criticals]  DEFAULT ((250)),
	[Character-Fightzone-ID] [nchar](10) NULL CONSTRAINT [DF_Characters_Character-Fightzone-ID]  DEFAULT ('0 0 0'),
	[Character-Ability-Time] [int] NULL CONSTRAINT [DF_Characters_Character-Ability-Time]  DEFAULT ((0)),
	[Character-Lock-Map] [nchar](10) NULL CONSTRAINT [DF_Characters_Character-Lock-Map]  DEFAULT ('NONE'),
	[Character-Lock-Time] [int] NULL CONSTRAINT [DF_Characters_Character-Lock-Time]  DEFAULT ((0)),
	[Character-Crusade-Job] [int] NULL CONSTRAINT [DF_Characters_Character-Crusade-Job]  DEFAULT ((0)),
	[Character-Crusade-GUID] [bigint] NULL CONSTRAINT [DF_Characters_Character-Crusade-GUID]  DEFAULT ((0)),
	[Character-Construct-Points] [int] NULL CONSTRAINT [DF_Characters_Character-Construct-Points]  DEFAULT ((0)),
	[Character-Death-Time] [int] NULL CONSTRAINT [DF_Characters_Character-Death-Time]  DEFAULT ((0)),
	[Character-Party-ID] [int] NULL CONSTRAINT [DF_Characters_Character-Party-ID]  DEFAULT ((0)),
	[Character-Majestics] [int] NULL CONSTRAINT [DF_Characters_Character-Majestics]  DEFAULT ((0)),
	[Character-Appr1] [int] NULL CONSTRAINT [DF_Characters_Character-Appr1]  DEFAULT ((0)),
	[Character-Appr2] [int] NULL CONSTRAINT [DF_Characters_Character-Appr2]  DEFAULT ((0)),
	[Character-Appr3] [int] NULL CONSTRAINT [DF_Characters_Character-Appr3]  DEFAULT ((0)),
	[Character-Appr4] [int] NULL CONSTRAINT [DF_Characters_Character-Appr4]  DEFAULT ((0)),
	[Character-Appr-Colour] [int] NULL CONSTRAINT [DF_Characters_Character-Appr-Colour]  DEFAULT ((0)),
	[Character-Magic-Mastery] [varchar](max) NULL CONSTRAINT [DF_Characters_Character-Magic-Mastery]  DEFAULT ('0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'),
	[Character-Skill-Mastery] [varchar](max) NULL CONSTRAINT [DF_Characters_Character-Skill-Mastery]  DEFAULT ('100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100 100'),
	[Character-Skill-SSN] [varchar](max) NULL CONSTRAINT [DF_Characters_Character-Skill-SSN]  DEFAULT ('0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0'),
	[Character-Equip-Status] [varchar](max) NULL CONSTRAINT [DF_Characters_Character-Equip-Status]  DEFAULT ('0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'),
	[Character-Item-Pos-X] [varchar](max) NOT NULL CONSTRAINT [DF_Characters_Character-Item-Pos-X]  DEFAULT ('40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40'),
	[Character-Item-Pos-Y] [varchar](max) NULL CONSTRAINT [DF_Characters_Character-Item-Pos-Y]  DEFAULT ('30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 36 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30'),
	[Character-DR] [int] NULL CONSTRAINT [DF_Characters_Character-DR]  DEFAULT ((10)),
	[Character-HR] [int] NULL CONSTRAINT [DF_Characters_Character-HR]  DEFAULT ((10))
) 
GO

CREATE TABLE [dbo].[Guilds]
(
	[Guild-ID] [int] IDENTITY(1,1) NOT NULL,
	[Guild-Name] [varchar](50) NULL,
	[Guild-GUID] [varchar](50) NOT NULL,
	[Guild-Location] [nchar](10) NOT NULL,
	[Guild-Master] [varchar](50) NULL
)
GO

CREATE TABLE [dbo].[BankItems]
(
	[Item-ID] [int] NULL,
	[Character-ID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[ItemNum1] [int] NULL,
	[ItemNum2] [int] NULL,
	[ItemNum3] [int] NULL,
	[ItemNum4] [int] NULL,
	[ItemNum5] [int] NULL,
	[Item-Colour] [int] NULL,
	[ItemNum7] [int] NULL,
	[ItemNum8] [int] NULL,
	[ItemNum9] [int] NULL,
	[ItemNum10] [int] NULL,
	[Item-Attribute] [int] NULL,
	[Item-Element] [int] NULL CONSTRAINT [DF_BankItems_Item-Element]  DEFAULT ((0)),
	[Item-Tag] [varchar](50) NULL
) 
GO

CREATE TABLE [dbo].[Accounts]
(
	[Account-ID] [int] IDENTITY(2,1) NOT NULL,
	[Account-Name] [varchar](50) NOT NULL,
	[Account-Password] [varchar](50) NOT NULL,
	[Account-Valid-Time] [int] NULL CONSTRAINT [DF_Accounts_Account-Valid-Time]  DEFAULT ((0)),
	[Account-Valid-Year] [int] NOT NULL CONSTRAINT [DF_Accounts_Account-Valid-Date]  DEFAULT ((3029)),
	[Account-Valid-Month] [int] NULL CONSTRAINT [DF_Accounts_Account-Valid-Month]  DEFAULT ((12)),
	[Account-Valid-Day] [int] NULL CONSTRAINT [DF_Accounts_Account-Valid-Day]  DEFAULT ((31)),
	[Account-Change-Password] [varchar](50) NULL,
	[Account-Gender] [nchar](6) NULL,
	[Account-Age] [int] NULL,
	[Account-Birth-Year] [int] NULL,
	[Account-Birth-Month] [int] NULL,
	[Account-Birth-Day] [int] NULL,
	[Account-Real-Name] [varchar](50) NULL,
	[Account-SSN] [varchar](50) NULL,
	[Account-Email] [varchar](50) NOT NULL,
	[Account-Quiz] [varchar](max) NOT NULL,
	[Account-Answer] [varchar](max) NOT NULL,
	[Account-Created-By] [varchar](max) NULL,
	[Account-Created-Date] [datetime] NULL,
	[Account-Locked] [int] NOT NULL CONSTRAINT [DF_Accounts_Account-Locked]  DEFAULT ((0))
)
GO

CREATE TABLE [dbo].[CharItems]
(
	[Item-ID] [int] NULL,
	[Character-ID] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[ItemNum1] [int] NULL,
	[ItemNum2] [int] NULL,
	[ItemNum3] [int] NULL,
	[ItemNum4] [int] NULL,
	[ItemNum5] [int] NULL,
	[Item-Colour] [int] NULL,
	[ItemNum7] [int] NULL,
	[ItemNum8] [int] NULL,
	[ItemNum9] [int] NULL,
	[ItemNum10] [int] NULL,
	[Item-Attribute] [varchar](50) NULL,
	[Item-Element] [int] NULL CONSTRAINT [DF_CharItems_Item-Element]  DEFAULT ((0))
) 
GO
